.panel.panel-default
  .panel-heading
    .panel-title 当前购买记录:
  .panel-body
    if plans.length == 0
      .row
        .col-md-12
          p 无购买记录
    for plan in plans
      .row
        .col-md-3
          p  类型: #{plan.feeType} &nbsp;&nbsp;&nbsp; 付费: #{plan.pay_money} 元
        .col-md-4
          p 有效期: #{plan.member_startAt} --- #{plan.member_expireAt}
        if plan.feeType == '免费'
          .col-md-3
            p 支付情况: 免费
        else
          .col-md-3
            p 支付情况: #{plan.status[plan.status.length-1]}
              a(href="/members/order?id=#{plan._id}") 详情
