.panel.panel-default
  .panel-heading
    .panel-title
      .row
        .col-md-8
          p 账号: #{accountId} &nbsp;&nbsp;&nbsp; (#{user.email && user.email}) &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 有效期到: #{ plan && plan.member_expireAt}
          p.hidden#currentPlan_expireAt #{ plan && plan.expireAt.getTime()}
  .panel-body
    if plans.length == 0
      .row
        .col-md-12
          p 无购买记录
    else
      .row
        .col-md-offset-1.col-md-10
          table.table.table-striped.table-hover
            thead
              tr
                th  #
                th  下单日期
                th  支付类型
                th  金额
                th  会员开始日期
                th  会员结束日期
                th  时长
                th  当前订单状态
            tbody
              each plan,idx in plans
                p #{plan}
                tr
                  th(scope='row') #{idx}
                  th  #{plan.member_createdAt}
                  th  #{plan.feeType}
                  th  #{plan.pay_money}
                  th  #{plan.member_startAt}
                  th  #{plan.member_expireAt}
                  th  #{plan.duration}
                  if plan.pay_finish
                    th 订单已生效
                  else
                    th  #{plan.status}  
                      if plan.status != '订单已生效'
                        if plan.status[plan.status.length - 1] == '已创建'
                          | &nbsp;&nbsp;&nbsp;
                          a(href="/members/gotopay?id=#{plan._id}", target='_blank') 去付款
                        else if plan.status[plan.status.length - 1] == '等待用户付款'
                          | &nbsp;&nbsp;&nbsp;
                          a(href="/members/gotopay?id=#{plan._id}", target='_blank') 去付款
                        else if plan.status[plan.status.length - 1] == '等待用户确认收货'
                          | &nbsp;&nbsp;&nbsp;
                          a(href='https://alipay.com', target='_blank') 去支付宝付款
                      
