extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend #{__('忘记密码')}
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p #{__('请输入你的邮箱地址,我们会发重置密码的进一步操作给你')}
        label.control-label(for='email') #{__('邮箱')}
        input.form-control(type='email', name='email', id='email', placeholder='#{__("邮箱")}', autofocus=true)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-key
          | #{__('重置密码')}
