extends ../layout

block content
  .container
    .page-header
      h3 #{__('登陆')}
    form.form-horizontal(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='email') #{__('邮箱')}
        .col-sm-7
          input.form-control(type='email', name='email', id='email', placeholder='#{__("邮箱")}', autofocus=true)
      .form-group
        label.col-sm-3.control-label(for='password') #{__('密码')}
        .col-sm-7
          input.form-control(type='password', name='password', id='password', placeholder='#{__("密码")}')
      .form-group
        .col-sm-offset-3.col-sm-7
          button.col-sm-3.btn.btn-primary(type='submit')
            i.fa.fa-user
            | #{__('登陆')}
          a.btn.btn-link(href='/forgot') #{__('忘记密码')}?
      .form-group
        .col-sm-offset-3.col-sm-7
          hr
      .form-group
        .col-sm-offset-3.col-sm-7
          a.btn.btn-block.btn-facebook.btn-social(href='http://somanyad.com/auth/facebook')
            i.fa.fa-facebook
            | #{__('使用 Facebook 登陆')}
          //- a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
          //-   i.fa.fa-twitter
          //-   | Sign in with Twitter
          a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
            i.fa.fa-google-plus
            | #{__('使用谷歌登陆')}
          a.btn.btn-block.btn-github.btn-social(href='/auth/github')
            i.fa.fa-github
            | #{__('使用 GitHub 登陆')}
          a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
            i.fa.fa-linkedin
            | #{__('使用 LinkedIn 登陆')}
          a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
            i.fa.fa-instagram
            | #{__('使用 Instagram 登陆')}
