extends layout

block content
  //- .row
  //-   .col-md-6
  //- .container
  //-   .row

  section#home
    .container
      .jumbotron
        h1 #{__('SoManyAd')}
        p &nbsp;
        h4 #{__('为了避免收到垃圾邮件')}
        h4 #{__('您是否把邮件地址图片化')}
        h4 #{__('您是否替换邮箱地址中的@成为#')}
        h4 #{__('您是否将邮箱地址通过base64进行转码')}
        h4 #{__('然而，这依旧没法应对那些被脱裤，甚至主动发广告到你邮箱的网站')}
        h2 #{__('不得不说')}
        h2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{__('好多广告 ( So Many Ad )')}
        hr
        h4 #{__('但是,如果你有自己的域名')}
        h4 #{__('你可以为每个网站,每种用途都准备一个邮箱, 然后转发到你的常用邮箱')}
        h4 #{__('你可以知晓哪个网站给你发广告,或者裤子被拖了(不是很担心黑客的无差别攻击咯~~拽拽的)')}
        p &nbsp;
        p.text-center
          a.btn.btn-lg.btn-success(href='/signup') 马上使用我们的域名邮箱服务
          
  section#price
    .container
      .page-title
        h1 价格
        hr
      .row.text-center
        .col-md-4
          .panel.panel-default
            .panel-heading 免费
            .panel-body 
              p 100封转发/月
              p 废弃地址：不限
              p 转发目的地：不限
              p 绑定域名个数：不限
              p 
                a.btn.btn-success(href='/signup') 马上使用
        .col-md-4
          .panel.panel-success
            .panel-heading 0.99RMB/月
            .panel-body 
              p 3000封转发/月
              p 废弃地址：不限
              p 转发目的地：不限
              p 绑定域名个数：不限
              p 
                a.btn.btn-success(href='/signup') 马上使用
        .col-md-4
          .panel.panel-default
            .panel-heading 1.99RMB/月
            .panel-body 
              p 30000封转发/月
              p 废弃地址：不限
              p 转发目的地：不限
              p 绑定域名个数：不限
              p 
                a.btn.btn-success(href='/signup') 马上使用
              
  section#product
    .container
      .row
        .col-md-12
          h3 域名列表界面
          img(src="/img/1.png")
          h3 域名设置界面
          img(src="/img/2.png")
  section#contact
    .container
      .row
        .col-md-12
          h3 北京海淀区东北旺西路8号4号楼软件广场C座3层
          h3 邮箱：
            img(src="/img/email.png")
          h3 电话：
            img(src="/img/phone.png")
          a.text-center(href="http://map.baidu.com/?shareurl=1&poiShareUid=51de75cbe0dcb197b35c6aeb&cityCode=131&tn=B_NORMAL_MAP&hb=B_SATELLITE_STREET", target="_blank")
            img(src="/img/map.png")
          
block footer-js
  != js("lib/jquery-2.1.3.min")
  != js("lib/bootstrap.min")

  != js("freelancer/jquery.easing.1.2")
  != js("freelancer/freelancer")
  
    
