extends layout

block content
  //- .row
  //-   .col-md-6

  p.lead #{__('为了避免收到垃圾邮件')}
  p.lead #{__('您是否把邮件地址图片化')}
  p.lead #{__('您是否替换邮箱地址中的@成为#')}
  p.lead #{__('您是否将邮箱地址通过base64进行转码')}
  p.lead #{__('然而,这依旧没法应对那些被脱裤,甚至主动发广告到你邮箱的网站')}
  h2 #{__('不得不说')}
  h1 #{__('好多广告!!!')}
  p.lead #{__('但是,如果你有自己的域名')}
  p.lead #{__('你可以自建邮局')}
  p.lead #{__('把发到您域名地址的邮件,转发到您的gmail, qq, 163等邮箱')}
