extends index

block domains-content
  .container
    br
    table.table.table-striped.table-bordered
      caption
        h3 
          | #{__("我的域名邮箱  ")}
          a.btn.btn-success(href="/domains/addNewDomain") #{__("添加")}

      thead
        tr
          th.name.text-center #{__("域名")}
          th.cnameVerifyStatus #{__("验证所有权")}
          th.mx #{__("MX记录")}
          th.forward_email #{__("转发到")}
          th.operation #{__("操作")}
      tbody
        for domain in domains
          tr
            th.name.text-center
              a(href="/domains/edit?domain=#{domain.domain}") #{domain.domain}
            if domain.cnameVerifyStatus
              th.cnameVerifyStatus #{__("已通过")}
            else
              th.cnameVerifyStatus 
                | #{__("尚未通过")}
                a(href="/domains/newDomainSetup?domain=" + domain.domain) #{__("手动验证")}
            if domain.mxVerifyStatus
              th.mx #{__("已生效")}
            else
              th.mx
                | #{__("未设置或暂未生效")}
                a(href="/domains/newDomainSetup?domain=" + domain.domain) #{__("如何设置")}
            th.forward_email #{domain.email}
              if domain.email_hadVerify
                | &nbsp;&nbsp;&nbsp;
              else
                a(href="/domains/newDomainSetup?domain=" + domain.domain) #{__("再次发送验证邮件")}
            th.operation 
              a(href="/domains/deleteDomain?domain=" + domain.domain) #{__("删除")}
