extends index

block domains-content
  table.table.table-striped.table-hover
    thead
      tr
        th #
        th status
        th forward
        th domain
        th action
    tbody
      for domain, idx in domains
        tr
          td #{idx}
          td #{domain.status}
          td #{domain.forward_email}
          td #{domain.domain}
          td 
            a(href="/domains/setup?domain=" + domain.domain).btn.btn-primary.btn-xs setup            
  a(href="/domains/addNewDomain").btn.btn-success Add New Domain
  .dangers #{error}
