extends index

block domains-content

  h3 And add DNS Records to Identify domain owner
  
  table.table.table-striped.table-hover
    thead
      tr
        th Type
        th Hostname
        th Enter This Value
        th Status
      tr
        th CNAME
        th #{cname}
        th #{cnamePointTo}
        th cnameVerifyStatus: xxxxx
        
  h3 Please add mx record for domain #{domain} like the following:
  
  table.table.table-striped.table-hover
    thead
      tr
        th Type
        th Priority
        th Enter This Value
        th Status
    tbody
      for mailServer in mailServers
        tr
          td MX
          td 10
          td #{mailServer}
          td mxVerifyStatus: xxxx
  
  a(onclick="location.reload()").btn.btn-success Verify
  a(href="/domains/setupForwardTo?domain=#{domain}").btn.btn-success Next(after Verify)
  p cname Verify api: 
  p /domains/api_cnameVerifyStatus?domain=#{domain}
  p mx Verify api: 
  p /domains/api_mxVerifyStatus?domain=#{domain}
